.Project {
  text-align: center;
}

.Project-logo {
  animation: Project-logo-spin infinite 20s linear;
  height: 80px;
}

.Project-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.Project-intro {
  font-size: large;
}

@keyframes Project-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
